*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
# contains private config settings
app/src/main/res/xml/secret.xml
app/release-key.jks
.env
