// Copy this file into a new file named variables.gradle and update the variables with the desired settings
gradle.ext.releaseKeystorePassword = "REPLACE_WITH_RELEASE_KEYSTORE_PASSWORD"
gradle.ext.releaseKeyAlias = "REPLACE_WITH_RELEASE_KEY_ALIAS"
gradle.ext.releaseKeyPassword = "REPLACE_WITH_RELEASE_KEY_PASSWORD"

gradle.ext.rollbarApiKey = "\"REPLACE_WITH_ROLLBAR_API_KEY\""

gradle.ext.apiHostDebug = "\"http://localhost:3000/\""
gradle.ext.apiHostStaging = "\"http://localhost:3000/\""
gradle.ext.apiHostDemo = "\"http://localhost:3000/\""
gradle.ext.apiHostSandbox = "\"https://test.api.etnhis.org/\""
gradle.ext.apiHostProduction = "\"https://api.etnhis.org/\""

